---
---

@import "{{ site.theme }}";

.page-content{
  min-height: 200px;
}


.logo{
    float: left;
    width: 172px;
    margin-right: 30px;
}

.info{
    float: left;
    width: 360px;
}

.clear {
    clear: both;
}

.top{
  margin-bottom: 40px;
  display: block;
}
