---
---

@import "{{ site.theme }}";

.page-content{
  min-height: 200px;
}

.img-circle {
    border-radius: 50%;
}

.avatar{
    float: left;
    width: 150px;
}

.info{
    float: left;
    width: 360px;
}

.clear {
    clear: both;
}

.top{
  margin-bottom: 15px;
  display: block;
}
