---
layout: default
---

<div class="home">

  <div class="top">
    <div class="logo">
      <img src="assets/logo.jpg" />
    </div>
    <div class="info">
      <h1>Freelance webdeveloper</h1>
      <!-- <h3>fullstack Ruby on Rails developer &amp; DevOps engineer</h3> -->
    </div>
  <div class="clear"></div>
  </div>

  <p>
  Flexcoder maakt de onmisbare basis voor effectieve webapplicaties. Ik ben Chris de Bruin, backend specialist. Met mijn ruime ervaring zorg ik ervoor dat je applicatie achter de schermen innovatief, betrouwbaar, veilig en flexibel is. Simpel waar het kan en complex waar het moet. </p>

  <p>Ik ben beschikbaar als fullstack Ruby developer, DevOps engineer, lead developer en backend developer.</p>

  <p>BETROUWBAAR | FLEXIBEL | VERANTWOORDELIJK | RESULTAATGERICHT</p>

</div>
