---
layout: default
---

<div class="home">

  <div class="top">
    <div class="avatar">
      <img class="img-circle" src="assets/chris.jpg" />
    </div>
    <div class="info">
      <h1>Chris de Bruin</h1>
      <h3>Freelance fullstack Ruby on Rails developer</h3>
    </div>
  <div class="clear"></div>
  </div>

  <p>Op zoek naar een freelance Ruby developer? Ik heb ruim 10 jaar ervaring met het ontwikkelen van webapplicaties.
  Ik werk als fullstack Ruby on Rails developer en DevOps engineer. Mijn specialiteit ligt op het gebied van backend.
  Denk hierbij aan RESTfull API's, Databases, Redis, Docker en Elasticsearch.</p>

  <p>Op het gebied van DevOps heb ik veel ervaring
  met het inrichten en beheren van applicaties binnen de clouddienst van Amazon (AWS).</p>

  <p>Kijk voor meer info op mijn <a href="https://linkedin.com/in/{{ site.linkedin_username }}">linkedIn</a> profiel.</p>

<!--   <p>Neem <a href="mailto:chris@flexcoder.nl">contact</a> op voor een kop koffie om te kijken wat ik voor jullie kan betekenen.</p>
 -->
</div>
